.main-menu.main-menu--label-hidden .ant-menu-title-content,
.main-menu.main-menu--label-hidden .ant-menu-submenu-arrow {
    display: none;
}

.main-menu.main-menu--label-hidden .ant-menu-submenu-title {
    text-overflow: inherit;
}

.main-menu__menu::-webkit-scrollbar-track {
    margin-top: 2.4rem;
}

.main-menu__menu::-ms-scrollbar-track {
    margin-top: 2.4rem;
}

.main-menu__menu .ant-menu-item.active {
    background-color: var(--btn-active);
    color: var(--color-secondary);
}
